@import './index.css';

:root {
    background-color: var(--color-background);
}

h1, h2 {
    font-family: var(--font-header-base), sans-serif;
    font-weight: bold;
}

body {
    font-family: var(--font-body-base), sans-serif;
}