@import './index.css';

:root {
    background-color: var(--color-background);
}

h1, h2 {
    font-family: var(--font-header-base), sans-serif;
    font-weight: bold;
}

body {
    font-family: var(--font-body-base), sans-serif;
}

main {
    margin: 14vh 10vw;
}

#projects {
    display:flex;
    flex-direction: column;
    gap: 2vh;
}

.filter-button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.primaryButton {
    @apply font-bold py-1 px-10 rounded-full border border-black;
    background-color: var(--color-primary-button);
    box-shadow: 5px 5px var(--color-primary);
    transition: all ease-in .05s;
}

.primaryButton:hover {
    border: 1px solid var(--color-primary);
    box-shadow: none;
    transform: translateY(4px) !important;
    transition: all ease-in .08s;
}

.primaryButton:active {
    background-color: white;
}

.secondaryButton {
    @apply font-bold py-1 px-10 rounded-full border border-black;
    background-color: transparent;
}
