:root {
  --color-background: #EBEFD0;
  --color-primary: #01937C;
  --color-secondary: #9AD3BC;
  --color-primary-button: #DEEF6D;
  --font-header-base: "SpaceMonoRegular", sans-serif;
  --font-body-base: "Rubik", sans-serif;
}

/* Font Family: Space Mono */

@font-face {
  font-family: "SpaceMonoRegular";
  src: local("SpaceMono-Regular"),
  url("assets/fonts/SpaceMono/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpaceMonoItalic";
  src: local("SpaceMono-Italic"),
  url("assets/fonts/SpaceMono/SpaceMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SpaceMonoBold";
  src: local("SpaceMono-Bold"),
  url("assets/fonts/SpaceMono/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SpaceMonoBoldItalic";
  src: local("SpaceMono-BoldItalic"),
  url("assets/fonts/SpaceMono/SpaceMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* Font Family: Rubik */

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "RubikItalic";
  src: url("./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}